<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 3.1.4 
# *Python with MongoDB*

## Introduction to PyMongo

In [1]:
# from IPython.core.display import display, HTML
# import pymongo
# from pymongo import MongoClient
# print ('Mongo version ' + pymongo.__version__)

Mongo version 3.11.0

Start the mongod server (if it isn't lready running) by executing  
`mongod`  
at the command prompt.

In [4]:
# client = MongoClient('localhost', 27017)

What would this do?

In [2]:
db = client.test_database
collection = db.test_collection
# collection.drop()

ANSWER: Drops collection "people" from database "test".

What would this do?

In [ ]:
# client.test.drop

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test'), 'drop')

ANSWER: Drops database "test".

In [ ]:
# Drop database "mydatabase" before creating it below: 
# client.mydatabase.drop

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mydatabase'), 'drop')

Create a new database:

In [4]:
# mydb = client["mydatabase"]

In [6]:
import json
import pymongo
from pymongo import MongoClient

print('pymongo version' + pymongo.__version__)

#path = 'auth_mongodb.json'
#auth = json.loads(open(path).read())
#user = auth['name'][1]
#password = auth['password'][1]


 


client = pymongo.MongoClient("mongodb+srv://vicloo:vicloo1234@cluster0.yzvzj.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")

pymongo version3.12.0

In [7]:
print(client.list_database_names())

ServerSelectionTimeoutError: connection closed,connection closed,cluster0-shard-00-01.yzvzj.mongodb.net:27017: [WinError 10054] An existing connection was forcibly closed by the remote host, Timeout: 30s, Topology Description: <TopologyDescription id: 610a9ab03ae34b5eb47b14da, topology_type: ReplicaSetNoPrimary, servers: [<ServerDescription ('cluster0-shard-00-00.yzvzj.mongodb.net', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('connection closed')>, <ServerDescription ('cluster0-shard-00-01.yzvzj.mongodb.net', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('cluster0-shard-00-01.yzvzj.mongodb.net:27017: [WinError 10054] An existing connection was forcibly closed by the remote host')>, <ServerDescription ('cluster0-shard-00-02.yzvzj.mongodb.net', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('connection closed')>]>

In [20]:
db=client['test_db']
collection = db['test']

Confirm that the database exists ... 

- list all databases in your system:

In [4]:
db.list_collection_names()  #check for collection

ServerSelectionTimeoutError: connection closed,connection closed,connection closed, Timeout: 30s, Topology Description: <TopologyDescription id: 610a9a243ae34b5eb47b14d9, topology_type: ReplicaSetNoPrimary, servers: [<ServerDescription ('cluster0-shard-00-00.yzvzj.mongodb.net', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('connection closed')>, <ServerDescription ('cluster0-shard-00-01.yzvzj.mongodb.net', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('connection closed')>, <ServerDescription ('cluster0-shard-00-02.yzvzj.mongodb.net', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('connection closed')>]>

In [20]:
#ANSWER:
print(client.list_database_names())

['test2', 'testdb', 'admin', 'local']

- check for the database by name:

In [21]:
#ANSWER:
dblist = client.list_database_names()
if "testdb" in dblist:
    print("The database exists.")

The database exists.

In [22]:
mydb = client['testdb']

If the new database was never created before, it will not be found because mongodb is lazy: the db won't get created until data has been written to it!

Create a collection called "customers" (with object name `mycol`):

In [23]:
#ANSWER:
mycol = mydb["customers"]

Create a document (i.e. a dictionary) with two name:value items 
("name" = "John", and "address" = "Highway 37") and insert 
it into the "customers" collection:

In [24]:
#ANSWER:
mydict = { "name": "John", "address": "Highway 37" }
x = mycol.insert_one(mydict)

Now test for the existence of the database:

In [25]:
print(client.list_database_names())

['test2', 'testdb', 'admin', 'local']

List all collections in the database:

In [26]:
#ANSWER:
print(mydb.list_collection_names())

['customers', 'test']

Insert another record in the "customers" collection 
("name" = "Peter", "address" = "Lowstreet 27") 
and return the value of the _id field:

In [27]:
#ANSWER:
mydict = { "name": "Peter", "address": "Lowstreet 27" }
x = mycol.insert_one(mydict)
print(x.inserted_id)

6102a59925c2c96a86de9caf

Given the list of dicts below, insert multiple documents into 
the collection using the insert_many() method:

In [28]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

In [29]:
#ANSWER:
x = mycol.insert_many(mylist)

Print a list of the _id values of the inserted documents:

In [30]:
#ANSWER:
print(x.inserted_ids)

[ObjectId('6102a5b025c2c96a86de9cb0'), ObjectId('6102a5b025c2c96a86de9cb1'), ObjectId('6102a5b025c2c96a86de9cb2'), ObjectId('6102a5b025c2c96a86de9cb3'), ObjectId('6102a5b025c2c96a86de9cb4'), ObjectId('6102a5b025c2c96a86de9cb5'), ObjectId('6102a5b025c2c96a86de9cb6'), ObjectId('6102a5b025c2c96a86de9cb7'), ObjectId('6102a5b025c2c96a86de9cb8'), ObjectId('6102a5b025c2c96a86de9cb9'), ObjectId('6102a5b025c2c96a86de9cba'), ObjectId('6102a5b025c2c96a86de9cbb')]

Execute the next cell to insert a list of dicts with specified `_id`s:

In [31]:
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]
x = mycol.insert_many(mylist)
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

Now try inserting a new dict with an existing `_id`:

In [32]:
x = mycol.insert_one({ "_id": 14, "name": "Manuel", "address": "Barcelona"})

DuplicateKeyError: E11000 duplicate key error collection: testdb.customers index: _id_ dup key: { _id: 14 }, full error: {'index': 0, 'code': 11000, 'keyPattern': {'_id': 1}, 'keyValue': {'_id': 14}, 'errmsg': 'E11000 duplicate key error collection: testdb.customers index: _id_ dup key: { _id: 14 }'}

So, if we want to manage `_id`s in code, we need to be careful!

This returns the first document in the collection:

In [33]:
x = mycol.find_one()
print(x)

{'_id': ObjectId('6102a40125c2c96a86de9cae'), 'name': 'John', 'address': 'Highway 37'}

Do the same for the document containing "name" = "Hannah":

In [34]:
#ANSWER:
x = mycol.find_one({"name": "Hannah"})
print(x)

{'_id': ObjectId('6102a5b025c2c96a86de9cb1'), 'name': 'Hannah', 'address': 'Mountain 21'}

In [35]:
x = mycol.find_one({"address": "Highway 37"})
print(x)

{'_id': ObjectId('6102a40125c2c96a86de9cae'), 'name': 'John', 'address': 'Highway 37'}

This returns (and prints) all documents in the collection:

In [36]:
for x in mycol.find():
  print(x)

{'_id': ObjectId('6102a40125c2c96a86de9cae'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6102a59925c2c96a86de9caf'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb0'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb1'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb2'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb3'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb4'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb5'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb6'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb7'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb8'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb9'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6102a5b025c2c96a86de9cba'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6102a5b025c2c96a86de9cbb'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

This returns only the name and address fields:

In [39]:
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
  print(x)  #"_id": 0 <--- means you dont want id to show

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

Print only the `_id` and name fields:

In [40]:
#ANSWER:
for x in mycol.find({},{ "_id": 1, "name": 1 }):
  print(x)   #exclude address

{'_id': ObjectId('6102a40125c2c96a86de9cae'), 'name': 'John'}
{'_id': ObjectId('6102a59925c2c96a86de9caf'), 'name': 'Peter'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb0'), 'name': 'Amy'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb1'), 'name': 'Hannah'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb2'), 'name': 'Michael'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb3'), 'name': 'Sandy'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb4'), 'name': 'Betty'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb5'), 'name': 'Richard'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb6'), 'name': 'Susan'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb7'), 'name': 'Vicky'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb8'), 'name': 'Ben'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb9'), 'name': 'William'}
{'_id': ObjectId('6102a5b025c2c96a86de9cba'), 'name': 'Chuck'}
{'_id': ObjectId('6102a5b025c2c96a86de9cbb'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

So, we must explicitly use `"_id": 0` to exclude it, but for other fields we simply omit them from the dict argument.

To include field conditionals in a query, we use `$` operators. This finds addresses starting with "S" or greater:

In [41]:
myquery = { "address": { "$gt": "S" } }
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('6102a5b025c2c96a86de9cb2'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb5'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb7'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6102a5b025c2c96a86de9cbb'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

Here are some more comparison operators:

            $gt, $gte, $eq, $in, $nin, $exists, $and, $or, $not
            
Experiment with these until you understand how to use them.

Now find all docs with an address that begins with "S":  
(HINT: The value for "address" in the argument should be the regex-based dict { "$regex": "^S" }.)

In [42]:
#ANSWER:
myquery = { "address": { "$regex": "^S" } }
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('6102a5b025c2c96a86de9cb5'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6102a5b025c2c96a86de9cbb'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

Sorting can be applied by invoking the Sort() method after the Find() method. Sort the collection by the name field:

In [43]:
#ANSWER:
mydoc = mycol.find().sort("name")
for x in mydoc:
  print(x)

{'_id': ObjectId('6102a5b025c2c96a86de9cb0'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb8'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb4'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6102a5b025c2c96a86de9cba'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb1'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6102a40125c2c96a86de9cae'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb2'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6102a59925c2c96a86de9caf'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb5'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb3'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb6'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb7'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6102a5b025c2c96a86de9cbb'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb9'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

Now sort in reverse order (HINT: The Sort() method takes an optional second parameter.)

In [34]:
help(mycol.find().sort)

Help on method sort in module pymongo.cursor:

sort(key_or_list, direction=None) method of pymongo.cursor.Cursor instance
    Sorts this cursor's results.

    Pass a field name and a direction, either
    :data:`~pymongo.ASCENDING` or :data:`~pymongo.DESCENDING`::

        for doc in collection.find().sort('field', pymongo.ASCENDING):
            print(doc)

    To sort by multiple fields, pass a list of (key, direction) pairs::

        for doc in collection.find().sort([
                ('field1', pymongo.ASCENDING),
                ('field2', pymongo.DESCENDING)]):
            print(doc)

    Beginning with MongoDB version 2.6, text search results can be
    sorted by relevance::

        cursor = db.test.find(
            {'$text': {'$search': 'some words'}},
            {'score': {'$meta': 'textScore'}})

        # Sort by 'score' field.
        cursor.sort([('score', {'$meta': 'textScore'})])

        for doc in cursor:
            print(doc)

    For more advanced text search functionality, see MongoDB's
    `Atlas Search <https://docs.atlas.mongodb.com/atlas-search/>`_.

    Raises :class:`~pymongo.errors.InvalidOperation` if this cursor has
    already been used. Only the last :meth:`sort` applied to this
    cursor has any effect.

    :Parameters:
      - `key_or_list`: a single key or a list of (key, direction)
        pairs specifying the keys to sort on
      - `direction` (optional): only used if `key_or_list` is a single
        key, if not given :data:`~pymongo.ASCENDING` is assumed

In [44]:
#ANSWER:
mydoc = mycol.find().sort("name", direction=pymongo.DESCENDING)
for x in mydoc:
  print(x)

{'_id': ObjectId('6102a5b025c2c96a86de9cb9'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6102a5b025c2c96a86de9cbb'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb7'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb6'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb3'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb5'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6102a59925c2c96a86de9caf'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb2'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6102a40125c2c96a86de9cae'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb1'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6102a5b025c2c96a86de9cba'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb4'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb8'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb0'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

A single record can be deleted by specifying some criterion:

In [45]:
mycol.delete_one({ "address": "Mountain 21" })   #when you have two addresses that share the same address, only the first one will be deleted when you use this syntax

Now delete all docs with the 2-digit `Id` values:

In [46]:
#ANSWER:
mycol.delete_many({ "_id": {"$lt": 15} })
for x in mycol.find():
  print(x)

{'_id': ObjectId('6102a40125c2c96a86de9cae'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6102a59925c2c96a86de9caf'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb0'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb2'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb3'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb4'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb5'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb6'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb7'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb8'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb9'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6102a5b025c2c96a86de9cba'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6102a5b025c2c96a86de9cbb'), 'name': 'Viola', 'address': 'Sideway 1633'}

This would delete all docs:
`x = mycol.delete_many({})`

This would remove the collection:
`mycol.drop()`

Change the first instance of "address" == "Valley 345" to "Canyon 123" using update_one().  
(HINT: The 1st paramater of update_one() is the criterion (query); the 2nd is dict specifying the field to change and its new value.)

In [47]:
#ANSWER:
myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }
mycol.update_one(myquery, newvalues)
for x in mycol.find():
  print(x)

{'_id': ObjectId('6102a40125c2c96a86de9cae'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6102a59925c2c96a86de9caf'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb0'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb2'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb3'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb4'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb5'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb6'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb7'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb8'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb9'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6102a5b025c2c96a86de9cba'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6102a5b025c2c96a86de9cbb'), 'name': 'Viola', 'address': 'Sideway 1633'}

The limit() method can be applied after the find() method to limit the number of docs returned. Show the first 5 docs:

In [48]:
#ANSWER:
myresult = mycol.find().limit(5)  #first 5 observations
for x in myresult:
  print(x)

{'_id': ObjectId('6102a40125c2c96a86de9cae'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6102a59925c2c96a86de9caf'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb0'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb2'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('6102a5b025c2c96a86de9cb3'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}

## PyMongo for Data Science

MongoDB has many more features of interest to developers, but the main focus of a data scientist will be wrangling and munging the data. It may or may not be desirable to do all the data munging in Pandas; for a large, distributed database, it may be imperative to perform aggregation in MongoDB.

In [9]:
# Ref:  https://rsandstroem.github.io/MongoDBDemo.html

import os
import pandas as pd
import numpy as np

This code creates a database named "test" and populates it from a JSON file using the mongoimport program (executed in the operating systems itself, rather than in Python):

In [64]:
db = client.test
#Drop the collection in case it was previously created:
#collection = db.people
#collection.drop()

ServerSelectionTimeoutError: connection closed,connection closed,connection closed, Timeout: 30s, Topology Description: <TopologyDescription id: 6103df6025c2c96a86de9cbc, topology_type: ReplicaSetNoPrimary, servers: [<ServerDescription ('cluster0-shard-00-00.1ralk.mongodb.net', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('connection closed')>, <ServerDescription ('cluster0-shard-00-01.1ralk.mongodb.net', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('connection closed')>, <ServerDescription ('cluster0-shard-00-02.1ralk.mongodb.net', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('connection closed')>]>

In [62]:
os.system('mongoimport --uri mongodb+srv://'+ user +':' + password +'@cluster0.viuae.mongodb.net/testdb --collection customers --type json --file /home/rok/Documents/institute_of_data/DATA/dummyData.json')

NameError: name 'user' is not defined

In [11]:
os.system('mongoimport --uri mongodb+srv://vicloo:vicloo1234@cluster0.yzvzj.mongodb.net/test_db --collection test --type json --file "C:/Users/victo/Documents/Institute_of_Data/DATA/dummyData.json"')

3

In [ ]:
os.system('mongoimport --uri mongodb+srv://vicloo:vicloo1234@cluster0.yzvzj.mongodb.net/test_db --collection <COLLECTION> --type <FILETYPE> --file <FILENAME'>

In [10]:
mydb = client['test_db']
mycol = mydb["test"]

In [11]:
mydict = { "name": "Peter", "address": "Lowstreet 27" }
x = mycol.insert_one(mydict)
print(x.inserted_id)

6105021861fc7533a476b740

In [12]:
db = client.test_db
collection = db.test
cursor = collection.find().sort('Age', pymongo.ASCENDING).limit(3)
for doc in cursor:
    print (doc)

{'_id': ObjectId('6105021861fc7533a476b740'), 'name': 'Peter', 'address': 'Lowstreet 27'}

In [13]:
json_list = [x for x in collection.find()]
df = pd.DataFrame(json_list)
df

                        _id   name       address
0  6105021861fc7533a476b740  Peter  Lowstreet 27

Here is a small demonstration of the MongoDB aggregation framework. We want to create a table of the number of persons in each country and their average age. To do it we group by country. We extract the results from MongoDB aggregation into a pandas dataframe, and use the country as index.

In [53]:
pipeline = [
        {"$group": {"_id":"$Country",
             "AvgAge":{"$avg":"$Age"},
             "Count":{"$sum":1},
        }},
        {"$sort":{"Count":-1,"AvgAge":1}}
]
aggResult = collection.aggregate(pipeline) # returns a cursor

df1 = pd.DataFrame(list(aggResult)) # use list to turn the cursor to an array of documents
df1 = df1.set_index("_id")
df1.head()

                                      AvgAge  Count
_id
China                              46.250000      4
Antarctica                         46.333333      3
Guernsey                           48.333333      3
Puerto Rico                        26.500000      2
Heard Island and Mcdonald Islands  29.000000      2

For simple cases one can either use a cursor through find("search term") or use the "$match" operator in the aggregation framework, like this:

In [54]:
pipeline = [
        {"$match": {"Country":"China"}},
]
aggResult = collection.aggregate(pipeline)
df2 = pd.DataFrame(list(aggResult))
df2.head()

,_id,Name,Age,Country,Location
0,60ffaabe3b515dcfd1d05e6e,"Holman, Hasad O.",32,China,"39.9127, 116.3833"
1,60ffaabe3b515dcfd1d05ea9,"Byrd, Dante A.",43,China,"31.2, 121.5"
2,60ffaabe3b515dcfd1d05eb1,"Carney, Tamekah I.",57,China,"45.75, 126.6333"
3,60ffaabe3b515dcfd1d05ebe,"Mayer, Violet U.",53,China,"40, 95"

Now we can apply all the power of Python libraries to analyse and visualise the data. Here, we will use the folium package to plot markers for the locations of the people we just found in China (click on a marker to see their data):

In [ ]:
# Un-comment and execute to install folium pkg (1st time only):
# import sys
# !{sys.executable} -m pip install folium

In [56]:
import folium
print ('Folium version ' + folium.__version__)

world_map = folium.Map(location = [35, 100], zoom_start = 4)
for i in range(len(df2)):
    location = [float(loc) for loc in df2.Location[i].split(',')]
    folium.Marker(location = location, popup = df2.Name[i] + ', age:' + str(df2.Age[i])).add_to(world_map)
    
world_map

Folium version unknown

## HOMEWORK:

1. Read up on how to perform aggregation in mongoDB. Insert a duplicate record into the collection:
        mydict = { "name": "John", "address": "Highway 37" }
   Now write a command to find docs with a duplicate "name" field (using aggregation) and remove them.  
   Print the collection.

2. Read up on how to apply indexes in mongoDB. Create an index on the "name" and "address" fields in this collection.
   Print the indexes for the collection.

>
>
>
>
>



---



---



> > > > > > > > >  2021 Institute of Data


---



---